 .u-section-1 {
  background-image: url("images/12.png");
  background-position: 46.38% 58.02%;
  background-size: auto 120%;
  min-height: 813px;
}

.u-section-1 .u-text-1 {
  margin: 225px calc(((100% - 1140px) / 2) + 205px) 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-1 .u-image-1 {
  width: 348px;
  height: 196px;
  margin: 121px auto 0 calc(((100% - 1140px) / 2) + 34px);
}

.u-section-1 .u-image-2 {
  width: 348px;
  height: 196px;
  margin: -243px auto 0 calc(((100% - 1140px) / 2) + 349px);
}

.u-section-1 .u-image-3 {
  width: 348px;
  height: 196px;
  margin: -116px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 348px;
  height: 196px;
  margin: -322px calc(((100% - 1140px) / 2) + -125px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 348px;
  height: 196px;
  margin: -103px auto 0 577px;
}

.u-section-1 .u-image-6 {
  width: 348px;
  height: 196px;
  margin: -196px auto 0 calc(((100% - 1140px) / 2) + 238px);
}

.u-section-1 .u-image-7 {
  width: 348px;
  height: 196px;
  margin: -204px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 348px;
  height: 196px;
  margin: -187px calc(((100% - 1140px) / 2) + 279px) 0 auto;
}

.u-section-1 .u-shape-1 {
  height: 52px;
  margin-top: -19px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-9 {
  width: 813px;
  height: 621px;
  margin: -643px calc(((100% - 1140px) / 2) + -102px) 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: none;
  background-image: none;
  margin: -277px auto 60px calc(((100% - 1140px) / 2) + 50px);
  padding: 15px 56px 16px 55px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 55px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 34px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 349px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + -125px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2) + 238px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 940px) / 2) + 279px);
  }

  .u-section-1 .u-image-9 {
    margin-top: -652px;
    margin-right: calc(((100% - 940px) / 2) + -145px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -268px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 34px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 349px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + -125px);
  }

  .u-section-1 .u-image-5 {
    margin-left: 372px;
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 720px) / 2) + 238px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 720px) / 2) + 279px);
  }

  .u-section-1 .u-image-9 {
    width: 599px;
    height: 415px;
    margin-top: -612px;
    margin-right: calc(((100% - 720px) / 2) + -153px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -102px;
    margin-left: calc(((100% - 720px) / 2));
    padding-right: 48px;
    padding-left: 46px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 176px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 183px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 163px;
    margin-left: calc(((100% - 540px) / 2) + 34px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 192px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + -125px);
  }

  .u-section-1 .u-image-5 {
    margin-left: 192px;
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 540px) / 2) + 192px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 540px) / 2) + 192px);
  }

  .u-section-1 .u-image-9 {
    width: 536px;
    height: 353px;
    margin-top: -576px;
    margin-right: calc(((100% - 540px) / 2) + -188px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -100px;
    margin-left: calc(((100% - 540px) / 2) + 6px);
    padding-right: 31px;
    padding-left: 29px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 595px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 248px;
    margin-right: calc(((100% - 340px) / 2) + 27px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-top: 129px;
    margin-right: calc(((100% - 340px) / 2) + -103px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-top: -191px;
    margin-left: calc(((100% - 340px) / 2) + -182px);
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
    margin-top: -159px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -74px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -288px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 191px;
    margin-top: -113px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 191px;
    margin-top: -177px;
    margin-right: calc(((100% - 340px) / 2) + -103px);
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 191px;
    margin-top: -191px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 191px;
    margin-top: -140px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -127px;
  }

  .u-section-1 .u-image-9 {
    width: 304px;
    height: 224px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -351px;
    margin-right: calc(((100% - 340px) / 2) + -85px);
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -172px;
    margin-left: calc(((100% - 340px) / 2));
    padding: 9px 18px;
  }
} .u-section-2 {
  background-image: url("images/destinationbackground.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 684px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 9px auto 0 348px;
}

.u-section-2 .u-image-1 {
  width: 607px;
  height: 323px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px auto 0 -155px;
}

.u-section-2 .u-gallery-1 {
  height: 424px;
  grid-gap: 17px 17px;
  width: 786px;
  margin: -304px 0 60px auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 22px 22px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 460px;
    height: 302px;
    margin-top: -20px;
    margin-left: -128px;
  }

  .u-section-2 .u-gallery-1 {
    height: 340px;
    width: 657px;
    margin-top: -241px;
    margin-right: 16px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-2 .u-image-1 {
    width: 476px;
    height: 279px;
    margin-top: 8px;
    margin-left: -171px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1202px;
    width: 524px;
    margin-top: -189px;
    margin-right: 8px;
    margin-bottom: 37px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-2 .u-image-1 {
    width: 546px;
    height: 243px;
    margin-left: -232px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1031px;
    width: 437px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: -111px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 205px;
    --animation-custom_in-translate_y: -300px;
    margin-top: 19px;
    margin-left: -133px;
  }

  .u-section-2 .u-gallery-1 {
    height: 798px;
    width: 340px;
    margin-top: 47px;
    margin-bottom: -108px;
  }
} .u-section-3 {
  background-image: url("images/LeisureServices2.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 1283px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 52px auto 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 69px -28px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -321px 467px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: none;
  background-image: none;
  margin: 77px auto 0 0;
  padding: 15px 56px 16px 55px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  text-transform: none;
  margin: -32px 88px 0 688px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 181px auto 0;
}

.u-section-3 .u-group-1 {
  width: 484px;
  min-height: 291px;
  height: auto;
  margin: 106px 28px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 19px 19px 0 11px;
}

.u-section-3 .u-image-2 {
  width: 38px;
  height: 21px;
  margin: -179px auto 0 103px;
}

.u-section-3 .u-image-3 {
  width: 38px;
  height: 21px;
  margin: 117px 160px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 27px 19px 0 11px;
}

.u-section-3 .u-group-2 {
  width: 484px;
  min-height: 285px;
  height: auto;
  margin: -288px auto 60px 52px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 19px 19px 0 11px;
}

.u-section-3 .u-image-4 {
  width: 38px;
  height: 21px;
  margin: -132px auto 0 19px;
}

.u-section-3 .u-image-5 {
  width: 38px;
  height: 21px;
  margin: 66px 0 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 52px 19px 0 11px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-3 .u-image-1 {
    width: 452px;
    height: 281px;
    margin-top: 116px;
    margin-right: -33px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -303px;
    margin-right: 410px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 59px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 11px;
    margin-left: 565px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 134px;
  }

  .u-section-3 .u-group-1 {
    width: 457px;
    min-height: 282px;
    margin-right: -13px;
    height: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-3 .u-group-2 {
    width: 449px;
    min-height: 278px;
    margin-top: -280px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 224px;
    margin-top: 189px;
    margin-right: -16px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -319px;
    margin-right: 190px;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 25px;
    padding-left: 23px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 60px;
    margin-right: -4px;
    margin-left: 360px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 82px;
  }

  .u-section-3 .u-group-1 {
    width: 373px;
    min-height: 260px;
    margin-top: 105px;
    margin-right: -23px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-image-2 {
    width: 32px;
    height: 18px;
    margin-top: -152px;
    margin-left: 85px;
  }

  .u-section-3 .u-image-3 {
    width: 34px;
    height: 17px;
    margin-top: 101px;
    margin-right: 113px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 23px;
  }

  .u-section-3 .u-group-2 {
    width: 360px;
    min-height: 256px;
    margin-top: -258px;
    margin-left: -16px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    padding: 10px 14px 10px 12px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 154px;
    margin-right: 28px;
    margin-left: 238px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 54px;
  }

  .u-section-3 .u-group-1 {
    width: 350px;
    min-height: 238px;
    margin-top: 331px;
    margin-right: 85px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-3 {
    height: 19px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-group-2 {
    width: 336px;
    min-height: 239px;
    margin-top: -522px;
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-3 .u-image-1 {
    height: 211px;
    margin-top: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -410px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    padding-right: 6px;
    padding-left: 5px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 262px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 52px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 585px;
}

.u-section-4 .u-social-icons-1 {
  height: 89px;
  min-height: 16px;
  width: 89px;
  min-width: 16px;
  margin: 73px auto 0 83px;
}

.u-section-4 .u-icon-1 {
  height: 98px;
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  grid-gap: 17px 17px;
  width: 851px;
  margin: -70px 0 0 auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 6px 6px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -282px auto 0 39px;
  padding: 12px 56px;
}

.u-section-4 .u-line-1 {
  width: 245px;
  transform-origin: left center 0px;
  margin: 39px auto 0 9px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 23px 861px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 861px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 78px;
    width: 78px;
    margin-top: 97px;
    margin-left: 75px;
  }

  .u-section-4 .u-gallery-1 {
    width: 692px;
    height: 312px;
    margin-top: -78px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -216px;
    margin-left: 46px;
    padding: 8px 45px 10px 43px;
  }

  .u-section-4 .u-line-1 {
    width: 203px;
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: 692px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 692px;
    margin-left: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1758px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 95px;
    width: 95px;
    margin-top: 51px;
    margin-right: 296px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 1308px;
    margin-top: 253px;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -1506px;
    margin-right: 251px;
    margin-left: auto;
    padding-right: 60px;
    padding-bottom: 9px;
    padding-left: 60px;
  }

  .u-section-4 .u-line-1 {
    width: 243px;
    margin-top: -77px;
    margin-right: 222px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 100px;
    margin-right: 229px;
    margin-left: 255px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 229px;
    margin-left: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4425px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 75px;
    width: 75px;
    margin-top: 54px;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 272px;
    height: 3981px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -4202px;
    margin-right: auto;
    padding-right: 52px;
    padding-left: 51px;
  }

  .u-section-4 .u-line-1 {
    width: 196px;
    margin-top: -78px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: 235px;
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 236px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2978px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2551px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -2765px;
  }
}